# Node / JavaScript
node_modules/
dist/
build/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*

# IDE
.vscode/*
!.vscode/settings.json
.idea/

# Editor backups
*~


